<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921790064702-oib47etd54jp78ilvrgie15qk0k2jbvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921790064702-oib47etd54jp78ilvrgie15qk0k2jbvt</string>
	<key>API_KEY</key>
	<string>AIzaSyAilQezP3-9qJ6mxY9yWh8iSnOMLca3lD4</string>
	<key>GCM_SENDER_ID</key>
	<string>921790064702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.tomk.GaryPortal4</string>
	<key>PROJECT_ID</key>
	<string>gary-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>gary-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921790064702:ios:6df710169e8d1606d8096f</string>
	<key>DATABASE_URL</key>
	<string>https://gary-portal.firebaseio.com</string>
</dict>
</plist>